# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# logs
*.log

# OS
Thumbs.db
.DS_Store

# local gradle cache safety
gradle-app.setting

# datagen output
/src/generated/